{% extends 'base/home.html' %}

{% block content %}


<div class="container">
  <div class="row" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; padding: 50px; height: max-content;">
      {% for blog in news %}
      <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-80" style="align-items: center; justify-items: center; width: 250px;padding: 20px;">
            <div class="card-body">
              <h5 class="card-title">
                <b>{{ blog.name }}</b>
              </h5>
              <small>
                <p class="card-text">{{ blog.content|truncatewords:15 }}</p>
                <p class="card-text">{{ blog.created }}</p>
              </small>
              <a href="{% url 'news-detail' blog.id %}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>

<div class="pagination" style="text-align: center; justify-content :center; margin-bottom: 30px; margin-top: -50px;  padding: 55px; ">
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">Previous</a>
    {% endif %}

    {% for num in paginator.page_range %}
      <a href="?page={{ num }}" 
         class="btn {% if num == page_obj.number %}btn-primary{% else %}btn-light{% endif %}">
        {{ num }}
      </a>
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">Next</a>
    {% endif %}
  {% endif %}
</div>

</div>

</div>


{% endblock %}